@media screen and (max-width: 1220px) {

	.content-container {
		max-width:1000px;
	}

	.pagination-bar {

		.item-count {
			padding-right:0;
			padding-bottom:15px;
		}

		.pagination-controls {
			clear:left;
		}

		.items-per-page {
			padding-left:0;
			padding-bottom:15px;
		}

		.sort-by {
			clear:right;
		}


	}

}


@media screen and (min-width: 1221px) {

	.section-contents {

		ul.items {

			> li {
				width:232px;
			}
		}
	}

}